# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Secrets and Config
.env
.secrets.baseline
.python-version

# IDEs
.vscode/
.idea/
.alcache/
.alpackages/
.snapshots/
.output/

# Distribution / packaging
dist/
build/
*.egg-info/
*.app

# Unit test / coverage reports
.coverage
.cache
.pytest_cache/
htmlcov/
TestResults.xml

# Documentation
site/

# Jupyter
.ipynb_checkpoints
